.review-item{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
    align-items: center;
}
.review-item img{
    width: 91px;
}
.review-item-details p {
    margin: 0;
}
.review-item-details-container {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-item .delete-btn {
    background-color: rgba(235, 87, 87, 0.3);
    border: 0;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    cursor: pointer;
}
.delete-icon {
    color: rgba(235, 87, 87, 1);
    font-size: 27px;
}
.orange-color {
    color: orange;
}